OPENAI_API_KEY=xxxxxxxxxxxxxx
BASE_URL=https://xxxxxxxx/api
MODEL=azure.gpt-5.x

DATABRICKS_HOST=xxxxxxxxxxxxx.cloud.databricks.com
DATABRICKS_TOKEN=xxxxxxxxxxxxxxxxxxxxxxxxxxxxx
DATABRICKS_WAREHOUSE_ID=12345678
DATABRICKS_CATALOG=my_catalog
DATABRICKS_SCHEMA=my_schema